@import "@workspace/ui/globals.css";

@theme {
  /* 1408px */
  --container-8xl: 88rem;
  /* 1536px */
  --container-9xl: 96rem;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}