@import "@workspace/ui/globals.css";

@theme {
  /* 1408px */
  --container-8xl: 88rem;
  /* 1536px */
  --container-9xl: 96rem;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

code[data-theme*="light"],
code[data-theme*="light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*="dark"],
.dark code[data-theme*="dark"] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}