@import "@workspace/ui/globals.css";

:root {
  --page-background: oklch(0.85 0.05 90);
}

.dark {
  --page-background: oklch(0.125 0.05 90);
}

@theme {
  /* 1408px */
  --container-8xl: 88rem;
  /* 1536px */
  --container-9xl: 96rem;
  --color-page: var(--page-background);
}

@layer base {
  body {
    @apply bg-page;
  }
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

code[data-theme*="light"],
code[data-theme*="light"] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*="dark"],
.dark code[data-theme*="dark"] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}